:root{
    --primary-color-brown:#ab7a5f;
}
.navbar-toggler:focus{
    box-shadow: none!important;
}
.link-underline{
    width: 0rem;
    transform: translateX(0px);
    transition: ease-in all 200ms;
}
.hero-section-image::before{
    content: "";
    position: absolute;
    background: #decbc0;
    width: 10%;
    height: 80%;
    bottom: 0%;
    left: 11%;
    z-index: -100;
    border-radius: 0.375rem;
}
.shop-btn{
    background-color:#ab7a5f!important;
    padding:.75rem;
    color: white;
    border: none;
    border-radius: .375rem;
    font-weight: 200;
    transition: all ease-in 400ms;
}
.shop-btn:hover{
    color:black!important;
    background-color: #c5a491!important;
}
.bg-inherit{
    background-color:inherit;
}
.title-underline{
    width: 10rem;
    height: 3px;
    border-radius: .9rem;
    background-color: #ab7a5f;
}